html {
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Cormorant Garamond', serif;
}

header {
  font-family: 'Open Sans Condensed', sans-serif;
}
.name {
  font-family: 'Parisienne', cursive;
}

footer {
  font-family: 'Open Sans Condensed', sans-serif;
}
